{% load static %}
<footer>
    <div class="container footer-content">
        <div class="footer-brand">
            <img src="{% static 'images/ico_logo.png' %}" alt="I&CO Club Logo" class="footer-logo" width="40" height="40">
            <!-- <i class="fa-solid fa-circle-nodes"></i> -->
            <span>I&CO Club</span>
        </div>
        <div class="copyright">
            © 2025 I&CO Club. Academic Use Only.
        </div>
        <div class="footer-links">
            <!-- <a href="#"><i class="fa-brands fa-twitter"></i></a>
            <a href="#"><i class="fa-brands fa-github"></i></a> -->
            <a href="https://www.linkedin.com/company/internships-and-career-opportunities-club/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
    </div>
</footer>